$columns: 5;

@for $i from 1 through $columns {
    .columns-#{$i} {
        width: (100% / $i);
    }
}


// .columns-1 {
//     width: 100%; 
// }

// .columns-2 {
//     width: 50%; 
// }

// .columns-3 {
//     width: 33.33333%; 
// }

// .columns-4 {
//     width: 25%; 
// }

// .columns-5 {
//     width: 20%; 
// }




$count: 0;

@while $count < 5 {
    .length-#{$count} {
        width: (10 * $count) + px;
    }

    $count: $count + 1;
}

// .length-0 {
//     width: 0px; 
// }

// .length-1 {
//     width: 10px; 
// }

// .length-2 {
//     width: 20px; 
// }

// .length-3 {
//     width: 30px; 
// }

// .length-4 {
//     width: 40px; 
// }