@import './variable.scss';

@mixin reset-list{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 20px;
}

@mixin flot-postion($property, $direction){
    #{$property}: #{$direction}; // interpolation
    height: 200px;
    width: 200px;
    background-color: $color-yellow;
}

       
    

@mixin triangle($size, $color, $direction) {
    height: 0;
    width: 0;
  
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;
  
    @if $direction == up {
      border-bottom-color: $color;
    } @else if $direction == right {
      border-left-color: $color;
    } @else if $direction == down {
      border-top-color: $color;
    } @else if $direction == left {
      border-right-color: $color;
    } @else {
      @error "Unknown direction #{$direction}.";
    }
  }
  
  .next {
    @include triangle(50px, lightblue, right);
  }

  .previous {
    @include triangle(25px, pink, left);
  }
  
  .up {
    @include triangle(75px, lime, up);
  }
  
  .down {
    @include triangle(85px, cyan, down);
  }